Actividad_1/Ejercicio_3_DTDE.dtd

<!ELEMENT automovil (datos, especificaciones, motor)+>
    <!ELEMENT datos (marca, modelo, anyo)>
    <!ELEMENT marca (#PCDATA)>
    <!ELEMENT modelo (#PCDATA)>
    <!ELEMENT anyo (#PCDATA)>
    <!ELEMENT especificaciones (longitud, traccion-delantera+)>
    <!ELEMENT longitud (#PCDATA)>
    <!ELEMENT traccion-delantera (#PCDATA)>
    <!ELEMENT motor (cilindros, cc, cv)+>
    <!ELEMENT cilindros (#PCDATA)>
    <!ELEMENT cc (#PCDATA)>
    <!ELEMENT cv (#PCDATA)>