Actividad_2/Ejercicio3.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT personajes (personaje*)>
<!ELEMENT personaje (nombre, nacionalidad?, altura, peso?, grupo_sanguineo?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT altura (#PCDATA)>
<!ELEMENT peso (#PCDATA)>
<!ELEMENT grupo_sanguineo (#PCDATA)>
<!ELEMENT datos_personales (aficion, aversion*)>
<!ELEMENT aficion (#PCDATA)>
<!ELEMENT aversion (#PCDATA)>

